.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.myspans {
  color: red;
}
.form-signin input,
.form-signin select {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 10px;
}

div.HomePageBox {
  display: inline-block;
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
.jobs {
  align-self: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationBttns a {
  border: #282c34;
  border-radius: 5%;
  padding: 8px 16px;
  text-decoration: none;
}

.paginationBttns a:hover {
  background-color: #ddd;
  border-radius: 5px;
}

.paginationActive a {
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
}

.paginationDisabled a {
  display: none;
}

a > svg {
  cursor: pointer;
}
#radiobuttons {
  float: left;
  padding-left: 20px;
}
.icon {
  position: relative;
  bottom: 6px;
  right: -16px;
}
.closebtn {
  height: 32px;
  width: 32px;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  border: red solid;
}
